<div id="article">
    <article>
        {% if article.isPublished %}
            <img src="{{ article.image }}" height="150px">
            <a href="{{ path ('adminArticle', {'id': article.id}) }}"><h2> {{ article.title }} </h2></a>
            <p> {{ article.content }}</p>
            <cite> publié par {{ article.author }} {# le {{ article.publishedAt | date("d/m/Y") }}#}</cite>
        {% else %}
            <p>Article non publié</p>
        {% endif %}
    </article>
</div>