<div id="article">
    <article>
        {% if article %}
            {% if article.isPublished %}
                {% if article.category %}
                    <p> {{ article.category.title }}</p>
                {% endif %}
                <img src="{{ article.image }}" height="150px">
                <a href="{{ path ('adminArticle', {'id': article.id}) }}"><h2> {{ article.title }} </h2></a>
                <p> {{ article.content }}</p>
                <cite> publié par {{ article.author }} {# le {{ article.publishedAt | date("d/m/Y") }}#}</cite>
                <a href="{{ path ('adminDeleteArticle', {'id': article.id}) }}">Supprimer article</a>
            {% else %}
                <p>Article non publié</p>
            {% endif %}
        {% else %}
            <p>Cet article n'existe pas</p>
        {% endif %}
    </article>
</div>