{% extends 'base.html.twig'%}

{% block title %}
    <title>Ajout d'une catégorie</title>
{% endblock %}

{% block main %}
    <h1>Ajout d'une catégorie</h1>
    <section>
        {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.title, 'Titre', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.title, {'attr': {'class' : 'form-control'}}) }}

            </div>
            {{ form_errors(form.title) }}
            <div class="form-group">
                {{ form_label(form.color, 'Couleur', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.color, {'attr': {'class' : 'form-control'}}) }}
                {{ form_errors(form.color) }}
            </div>
            <div class="form-group">
                {{ form_label(form.description, 'Description', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.description, {'attr': {'class' : 'form-control'}}) }}
                {{ form_errors(form.description) }}
            </div>
            <div class="form-check">
                {{ form_label(form.isPublished, 'A publier ?', {'label_attr': {'class': 'form-check-label'}}) }}
                {{ form_widget(form.isPublished, {'attr': {'class' : 'form-check-control'}}) }}
                {{ form_errors(form.isPublished) }}
            </div>
            <br><br>
            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
        {{ form_end(form) }}
    </section>
{% endblock %}

{% block footer %}
    <p>Ajout d'une catégorie</p>
{% endblock %}